<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">Order-Details</h1>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Orders</th>
                    <th class="px-4 py-2 text-left">Customer</th>
                    <th class="px-4 py-2 text-left">Phone</th>
                    <!-- <th class="px-4 py-2 text-left">status</th> -->
                    <th class="px-4 py-2 text-left">Placed at</th>
                    <th class="px-4 py-2 text-left">Payment Status</th>
                </tr>
            </thead>
        
            <tbody>
            
                <tr>
                    <td class="border px-4 py-3">
                        1
                    </td>
                    <td class="border px-4 py-3" >xyz</td>
                    <td class="border px-4 py-3" >9876</td>
                    <td class="border px-4 py-3">12:09</td>
                    <td class="border px-4 py-3">paid</td>
                    

                </tr>

            </tbody>       
        </table>
    </div>
        </table>
    </div>
</section>

