<section class="orders light-section">
    <div class="container mx-auto padding-top">
        <h1 class="font-bold text-lg mb-6">Order-Details</h1>
        <div id="seccess-alert" class="flex items-center bg-green-480 text-white text-sm font-bold px-4 py-3" role="alert">
        </div>
    </div>
    <div>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-3 text-left">Orders</th>
                    <th class="px-4 py-3 text-left">Phone</th>
                    <th class="px-4 py-3 text-left">Address</th>
                    <th class="px-4 py-3 text-left">Time</th>
                </tr>
            </thead>
            <tbody>
                <% if(orders.length) {%>
                    <%orders.forEach((order)=>{ %>
                        <tr>
                            <td class="border px-4 py-3">
                                <a class="link" href="/"><%= order._id%></a>
                            </td>
                            <td class="border px-4 py-3" >
                                <%= order.phone%>
                            </td>
                            <td class="border px-4 py-3" >
                                <%= order.address%>
                            </td>
                            <td class="border px-4 py-3">
                                <%= moment(order.createdAt).format('hh:mm A')%>
        
                            </td>
                            
                        </tr>
                   <% })%>
                    
                
                <%} else {%>
                    <tr>
                        <td class="p-4"><span>No orders so far!</span></td>
                    </tr>
                 <%}%>   
            </tbody>

        </table>
    </div>
    
</section>